<div class="card-body p-3 text-center d-flex flex-column justify-content-center justify-content-around">

    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 d-flex justify-content-around">
      <div *ngFor="let a of lesateliers" class="border p-2 atelier-card">
        <img [src]="a.image" class="img-fluid mx-auto atelier-image">
        <div class="card-body p-3 text-center">
          <h5 class="fw-bolder">{{a.nom | uppercase }}</h5>
          <span [ngClass]="outcome(a.date)">{{a.date | date :'fullDate'}}</span>
          <br>
          <a [routerLink]="['/dashboard/editworkshop/', a.id]" class="btn btn-outline-primary mt-auto">Edit Details</a>
        </div>
      </div>
    </div>
  
  </div>
  